.home-fair-content{
  padding-top: 40px;
}
.am-search{
  position: fixed!important;
  width: 96%;
  top: 40px;
  z-index: 9;
}
.home-fair-tab{
  /* height: 84vh; */
  top: 44px;
  position: relative;
}
.myclient-wrap{
  width: 100%;
}